#root {
  font-family: 'TAEBAEKmilkyway';
  line-height:2em;

  width: 100%;
  margin: 0;
  padding: 0.5rem;
  overflow: hidden;
  text-align: center;
}

.allSection{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 2em;
}

@font-face {
  font-family: 'TAEBAEKmilkyway';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}